### NumPy Project: Employee Salary Analysis
#### Objective:
- Analyze employee salaries and find insights using NumPy.

In [ ]:
import numpy as np

# Employee Salary Data (in thousands)
salaries = np.array([50, 60, 75, 80, 90, 95, 100, 110, 120, 150, 200])

#### Basic Analysis

In [ ]:
print("Total Employees:", salaries.size)
print("Minimum Salary:", np.min(salaries))
print("Maximum Salary:", np.max(salaries))
print("Average Salary:", np.mean(salaries))
print("Median Salary:", np.median(salaries))

Total Employees: 11
Minimum Salary: 50
Maximum Salary: 200
Average Salary: 102.72727272727273
Median Salary: 95.0

- Minimum salary is 50,000, and  the  maximum  is 200,000.
- The average salary is around 105,000.
- The median salary helps avoid extreme value biases.

#### Salary Distribution

In [ ]:
# Standard Deviation & Variance
std_dev = np.std(salaries)
variance = np.var(salaries)

print(f"Salary Standard Deviation: {std_dev:.2f}")
print(f"Salary Variance: {variance:.2f}")

Salary Standard Deviation: 40.64
Salary Variance: 1651.65

- A high standard deviation means salaries vary widely.
- Variance quantifies this spread in numbers.

#### Filtering Employees with High Salaries

In [ ]:
high_salary = salaries[salaries > 100]
print("Employees with salaries above 100,000:", high_salary)

Employees with salaries above 100,000: [110 120 150 200]

- We find employees earning more than 100K.

#### Salary Growth Over the Years

In [ ]:
# Simulated salary growth over 5 years (5% annual increase)
years = 5
future_salaries = salaries * (1.05 ** years)

print("Projected Salaries after 5 years:", np.round(future_salaries, 2))

Projected Salaries after 5 years: [ 63.81  76.58  95.72 102.1  114.87 121.25 127.63 140.39 153.15 191.44
 255.26]

- Employee salaries grow by 5% each year.
- Helps in financial planning.

 #### Final Project Summary

- Metric	Value
- Minimum Salary	50,000
- Maximum Salary  200,000
- Average Salary	105,000
- Median Salary	95,000
- Standard Deviation	High
- Future Salaries (5 yrs)	Projected growth

#### Business Impact
- This analysis helps HR and finance teams:
- Identify salary gaps and improve compensation policies.
- Plan for future salary increments.
- Compare industry trends and ensure employee satisfaction.

#### Conclusion
- NumPy is powerful for data analysis in various real-world applications like stock markets, weather monitoring, healthcare, e-commerce, and employee management.

In [ ]:
lowest = np.min(salaries)
print("Lowest salary:", lowest)

Lowest salary: 50

In [ ]:
second_highest = np.sort(salaries)[-2]
print("Second highest salary:", second_highest)

Second highest salary: 150

In [ ]:
top3 = np.sort(salaries)[-3:]
print("Top 3 salaries:", top3)

Top 3 salaries: [120 150 200]